.daily-block {
  width: 100%;
  height: 80%;
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  justify-content: space-around;
}

.daily-block-hour {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  height: 50%;
  width: 30%;
  text-align: center;
}

.daily-pic {
  width: 60%;
  height: auto;
}

.daily-block-hour_main {
  margin: 0;
}

.daily-block-hour_txt {
  margin: 0;
}

@media (max-height: 500px) {
  .daily-pic {
    width: 40%;
  }
}
